# Dependency directories
node_modules/
.cache/

# # Environment variables
# .env
# .env.local

# Build directories
build/
dist/

# Test coverage
coverage/

# Logs
npm-debug.log
yarn-error.log
pnpm-debug.log

# System files
.DS_Store
Thumbs.db

# Uploaded files (example)
/public/uploads/
