/* styles.css */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #cc99ff 0%, #ccffcc 100%);
    margin: 0;
    padding: 0;
  }

  .heading {
    font-family: cursive;
  }
   
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .search {
    margin-bottom: 20px;
    margin-top: 1rem;
    text-align: center;
    width: 30%;
  }
  
  .input-field {
    width: 100%;
    height: 25px;
    border-radius: 7px;
    margin-bottom: .5rem;
  }

  .serch-btn {
    height: 35px;
    padding-left: 30px;
    padding-right: 30px;
    background: #007acc;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
  }

  .cities {
    text-align: center;
    letter-spacing: 0.1em;
    font-family: sans-serif;
  }
  
  .weather-display {
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 3.1);
    text-align: center;
  }

  .forecast-display {
    margin-top: 20px;
  }
  
  .forecast-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    display: flex;
  }
  
  .forecast-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  

  .temp-text {
    font-weight: 600;
    font-family: sans-serif;
  }
  
  .favorites {
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }

  .favorites-input {
    margin-right: 10px;
    height: 30px;
    border-radius: 7px;
  }
  
  .favorites ul {
    list-style-type: none;
    padding: 0;
  }
  
  .favorites li {
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .favorites-remove-btn {
    background: red;
    border: none;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    cursor: pointer;
  }
  